# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Docker
.docker

# Misc
*.pem
*.key
